@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
html {
  /*https://uigradients.com/#*/
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #222;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  min-height: 100vh;
}
* {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  line-height: 1.4em;
  min-height: 100%;
}

.overall-container {
  display: flex;
  position: relative;
  min-height: 100%;
}

.main-container {
  padding-top: 1px;
  padding-bottom: 1px;
  background: rgba(0, 0, 0, 0.4);
  flex: 0 1 900px;
  min-height: 100vh;
}
.menu-items {
  display: block;
  margin-top: 19px;
  font-size: 20px;
  line-height: 1.5em;
}
.hide {
  display: none;
}
.menu-container {
  position: absolute;
  box-shadow: 100px 100px 200px rgba(0,0,0,0.5);
  background-color: rgba(0, 0, 0, 0.9);
  width: 270px;
  min-height: 100vh;
  z-index: 2;
  padding: 15px 10px;
}
@media (min-width: 768px) {
  .menu-container {
    position: static;
    flex: 0 0 230px;
    box-shadow: none;
    width: 270px;
  }
}


.menu-icon path {
  stroke: white;
  stroke-width: 3px;
}
.menu-icon:hover path {
  stroke: rgb(95, 168, 246);
}
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
}
a em {
  text-decoration: underline;
}
a:hover {
  color: rgb(95, 168, 246);
}
.sort-actions {
  margin: 20px 10px 15px 10px;
  font-weight: 400;
  font-size: 16px
}
.primary-link {
  font-weight: 400;
}
.main-menu {
  font-size: 20px;
  margin: 20px 10px 40px 10px;
}

/*.menu {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  left: 15px;
  top: 15px;
  color: black;
  text-align: left;
  padding: 0;
  margin: 0;
}
.menu-item, .menu-item-text {
  padding: 5px 7px;
  line-height: 1.3em;
  font-size: 16px;
  white-space: nowrap;
}
.menu-item-text {
  font-weight: 400;
}
.menu-item {
  font-weight: 200;
  cursor: pointer;
}
*/

.active-menu-item {
  color: rgb(95, 168, 246);
  font-weight: 600;
}
/*
.menu-item:hover {
  background-color: rgba(0, 80, 255, 0.2);
}
.menu-click-handler {
  z-index: -1;
  background-color: transparent;
  width: 200vh;
  height: 200vh;
  left: -100vh;
  top: -100vh;
  position: absolute;
}*/
.xs-right {
  float: right;
}
/*https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries*/
/* xs: 480, sm: 768, md: 992, lg: 1200, */
@media (min-width: 480px) {
  .sm-right {
    float: right;
  }
}

.header-row {
  display: flex;
  align-items: center;
  /*font-weight: bold;*/
  margin: 16px 10px 30px 10px;
}
.header-row-title {
  flex: 1 0 auto;
  text-align: right;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

/* Date Picker */
.text-center {
  text-align: center;
}
.date-picker-popover table {
  table-layout: fixed;
  font-size: 14px;
}
.popover-title .pull-left, .popover-title .pull-right {
  margin: 0 25px;
}
.date-picker-popover tr {
  display: block;
  width: 280px;
}
.date-picker-popover td {
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 23px;
  padding: 2px;
  line-height: 1em;
}

.center {
  text-align: center;
}

input, button {
  font-size: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgb(79, 129, 189);
  border-radius: 5px;
  padding: 15px 18px;
  margin: 4px 7px;
}
input {
  width: 280px;
}
button {
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
}
.home-page-container {
  padding: 20px 5px;
  text-align: center;
  background-color: black;
  min-height: 100vh;
}
.home-page-title {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin-top: 45px;
  margin-bottom: 50px;
  line-height: 1.3em;
  color: #bbb;
  /*color: rgb(95, 168, 246);*/
}
.home-page-sign-in-line {
  margin: 50px 30px;
  color: #bbb;
}
.home-page-product-name {
  font-family: 'Pacifico', cursive;
  color: #aaa;
  margin-top: 50px;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.create-a-team-form button, .create-a-team-form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.create-a-team-domain-suffix {
  margin-bottom: 30px;
  font-size: 18px;
}
strong {
  font-weight: 400;
}
.signin-page input {
  width: 200px;
}
.signin-page .at-sign {
  font-size:25px;
  color: #999;
}
.create-a-team-email {
  font-size: 18px;
}
.create-a-team-button{
  font-size: 18px;
}
