@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  /*https://uigradients.com/#*/
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  min-height: 100%;
}
* {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  line-height: 1.4em;
  min-height: 100%;
}

.main-container {
  padding-top: 1px;
  padding-bottom: 1px;
  background: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
  max-width: 800px;
}

.menu-icon {
  margin: 10px;
}
.menu-icon path {
  stroke: white;
  stroke-width: 3px;
}
.menu-icon:hover path {
  stroke: rgb(95, 168, 246);
}
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
}
a:hover {
  color: rgb(95, 168, 246);
}
.sort-actions {
  margin: 20px 10px 15px 10px;
  font-weight: 400;
  font-size: 15px
}
.primary-link {
  font-weight: 400;
}

.menu {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  left: 15px;
  top: 15px;
  color: black;
  text-align: left;
  padding: 0;
  margin: 0;
}
.menu-item, .menu-item-text {
  padding: 5px 7px;
  line-height: 1.3em;
  font-size: 16px;
  white-space: nowrap;
}
.menu-item-text {
  font-weight: 400;
}
.menu-item {
  font-weight: 200;
  cursor: pointer;
}
.menu-item:hover {
  background-color: rgba(0, 80, 255, 0.2);
}
.menu-click-handler {
  z-index: -1;
  background-color: transparent;
  width: 200vh;
  height: 200vh;
  left: -100vh;
  top: -100vh;
  position: absolute;
}
.xs-right {
  float: right;
}
/*https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries*/
/* xs: 480, sm: 768, md: 992, lg: 1200, */
@media (min-width: 480px) {
  .sm-right {
    float: right;
  }
}

/* Date Picker */
.text-center {
  text-align: center;
}
.date-picker-popover table {
  table-layout: fixed;
  font-size: 14px;
}
.popover-title .pull-left, .popover-title .pull-right {
  margin: 0 25px;
}
.date-picker-popover tr {
  display: block;
  width: 280px;
}
.date-picker-popover td {
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 23px;
  padding: 2px;
  line-height: 1em;
}
