@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  /*background: #292929; */
  /*background-color: darkred;*/
  /*https://uigradients.com/#*/
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}
* {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  min-height: 100%;
  overflow: hidden;
  line-height: 1.4em;
  min-height: 100vh;
}

.main-container {
  padding-top: 1px;
  padding-bottom: 1px;
  background: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
  max-width: 800px;
}
