.box {
  border: 1px solid rgb(79, 129, 189);
  border-radius: 2px;
  margin: -1px;
}

.task-actions, .task-comments {
  padding: 6px 10px;
  font-size: 14px;
}
.task-container {
  width: calc(100% - 20px);
  margin: 15px auto;
  color: white;
}

.main-task-box {
  display: flex;
}

.task-description {
  display: inline-block;
  flex: flex-grow;
  float: right;
  margin: 15px 25px 15px 10px;
  line-height: 1.4em;
  font-size: 16px;
}

.comments-task-box {
}

.IS-box {
  position: relative;
  display: inline-block;
  flex: none;
  margin: 15px 10px;
  width: 70px;
  height: 70px;
}

.IS-sub-box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
}

.IS-sub-box.severe {
  right: auto;
}

.IS-sub-box.important {
  bottom: auto;
}

.right {
  float: right;
}
