.task-container {
  position: relative;
  border: 1px #4A7EBB solid;
  height: 80px;
  margin-left: 50px;
  margin-right: 50px;
}
.task-container.completed {
  height: 40px;
}

/* Task Title */
.task-title {
  color: #376092;
  display: block;
  font-size: 18px;
  padding-left: 13px;
  padding-top: 10px;
  margin-right: 90px;
  overflow-x: hidden;
  height: 18px;
  white-space: nowrap; /* IE */
}
.task-title:hover {
  color: #5582C0;
}
.assigned-to-me .task-title {
  color: #8EB4E3;
}
.assigned-to-me .task-title:hover {
  color: white;
}
.completed .task-title {
  color: #4e4e4e;
  text-decoration: line-through;
}
.completed .task-title:hover {
  color: #7F7F7F;
}

/* Assignment Circle */
.completed.assignment {
  display: hidden;
}
.assignment {
  position: absolute;
  right: 13px;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid #404040;
  color: #575757;
}
.assigned-to-me .assignment {
  color: #95B3D7;
  border-color: #376092;
}
.working-on .assignment {
  background-color: #12181D;
  border-color: #1B2D43;
  color: #5F7389;
}
.working-on.assigned-to-me .assignment {
  background-color: #213242;
  border-color: #376092;
  color: #95B3D7
}
.assigned-to {
  text-align: center;
  margin-top: 13px;
  font-size: 20px;
}
.hours-worked {
  font-size: 14px;
}


/*Task Icon*/
.task-icon {
  position: absolute;
  left: 13px;
  bottom: 10px;
}
.task-icon-rect {
  fill: #14374E;
}
.assigned-to-me .task-icon-rect {
  fill: #8EA5AE;
}
.completed .task-icon-rect {
  fill: #14374E;
}
.task-icon .task-icon-rect, .task-title{
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
.task-icon:hover .task-icon-rect {
  fill: #FFFFFF
}
